In [9]:
dicty = {'one':1, 'two': 2, 'three':3}

#print(p.fromkeys('abc', (11,22,33)))

print(dict.fromkeys('abc', (11,22,33)))

{'a': (11, 22, 33), 'b': (11, 22, 33), 'c': (11, 22, 33)}

In [15]:
# dictionary comprehension

d = {key:key**2 for key in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [27]:
# filter out those values for whcih keys are even number

even_keys = [i for i in d.keys() if i%2 == 0]
even_key_vals = [d.get(i) for i in even_keys]
even_key_vals

[4, 16, 36, 64, 100]

In [28]:
one_shot_even_key_vals = [d.get(i) for i in d.keys() if i%2 ==0]
one_shot_even_key_vals

[4, 16, 36, 64, 100]

In [31]:
non_unique_elements = [1,1,2,3.14,0,("key1",1,"key2",2), ("key2",2,"key1",1),"Viola", "viola",\
                       False, True, False, bool(1),("key1",1,"key2",2)]

print(non_unique_elements)

only_unique_elemnts = set(non_unique_elements)
only_unique_elemnts

[1, 1, 2, 3.14, 0, ('key1', 1, 'key2', 2), ('key2', 2, 'key1', 1), 'Viola', 'viola', False, True, False, True, ('key1', 1, 'key2', 2)]

{('key1', 1, 'key2', 2),
 ('key2', 2, 'key1', 1),
 0,
 1,
 2,
 3.14,
 'Viola',
 'viola'}

In [32]:
{'french polynesia', 'hawaii'}.union({'jamaica', 'puerto rico'})

{'french polynesia', 'hawaii', 'jamaica', 'puerto rico'}

In [ ]:
{'french polynesia', 'hawaii'}.({'jamaica', 'puerto rico'})

In [34]:
type(type(3))

type

In [40]:
def func(**kwargs, *args):
    return kwargs, args

func("Adarsh", "DSM", a= 11, b = 22, c = 33)

SyntaxError: invalid syntax (541389916.py, line 1)

In [46]:
dict(enumerate([11,22,33]))

{0: 11, 1: 22, 2: 33}

In [1]:
set1 = {1,2,3}
set2 = set1.copy()
set2

{1, 2, 3}

In [2]:
del set2
set2 = set(set1)

set2

{1, 2, 3}

In [38]:
from functools import reduce

l = [1,2,6,3,4,5,6]
reduce(lambda x,y: x*y, [5])

#list(filter(lambda x: x if x%2 == 0 else None, l))  # this will also work

list(filter(lambda x: x%2 == 0, l))

[2, 6, 4, 6]

In [44]:
p = lambda lst : i (for i in lst) if i%2==0 else None
p([1,2,3])

SyntaxError: invalid syntax (739984712.py, line 1)

In [23]:
result(14)

14

In [25]:
max_two = lambda x,y: x if x>y else y

max_two(24,35)

35

In [49]:
#Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.Â 


[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [50]:
l = [('Sachin Tendulkar', 1), ('Ricky Ponting', 7), ('Jack Kallis', 2), ('Virat Kohli', 9)]

In [ ]:
sorted(l, key = lambda x:x[1])

## Using the ```@property getter-setter-deleter``` in the classes

In [1]:
class pwskills(object):
    def __init__(self,price, name):
        self.__course_price = price
        self.__discount = 0.0
        self.name = name
    
    # this method "course_price" has a big flaw. every time we access this property discount is applied on course_price!
    @property
    def course_price(self):  
        self.__course_price = self.__course_price - (self.__course_price * (self.__discount/100))
        return f"course price is: INR {self.__course_price}"

    @property
    def discount(self):
        #print(type(self.__discount))
        return self.__discount

    @discount.setter
    def discount(self, newDiscount):
        self.__discount = newDiscount
        return self.__discount

    @course_price.setter
    def course_price(self, newPrice):
        self.__course_price = newPrice
        return self.__course_price    
    
    def course_details(self):
        if self.__discount != 0.0:
            print("Course enrolled: ",self.name)
            print("Course Price: ", self.course_price)
            print("Discount applied: ",self.discount)
        else:
            print("Course enrolled: ",self.name)
            print("Course Price: ", self.course_price)
            
            
p1 = pwskills(4000, "Web Dev")
print(p1.discount)
p1.course_details()
print(p1.course_price)

print("="*50)

p1.course_price = 50000
p1.discount = 50
print(p1.discount)
p1.course_details()

0.0
Course enrolled:  Web Dev
Course Price:  course price is: INR 4000.0
course price is: INR 4000.0
==================================================
50
Course enrolled:  Web Dev
Course Price:  course price is: INR 25000.0
Discount applied:  50

In [4]:
p1.course_price    # <=== this is where the flaw is !!!

'course price is: INR 3125.0'

In [25]:
class PwSkills:
    def __init__(self, price, name):
        self.__course_price = price
        self.__discount = 0.0
        self.name = name
        self.__discounted_price = price

    @property
    def course_price(self):
        return f"Course price is: INR {self.__course_price}"

    @property
    def discount(self):
        return self.__discount

    @discount.setter
    def discount(self, new_discount):
        self.__discount = new_discount
        self.__course_price = self.__course_price - (self.__course_price * (self.__discount/100))

    @course_price.setter
    def course_price(self, new_price):
        self.__course_price = new_price

    def course_details(self):
        if self.__discount != 0.0:
            print("Course enrolled:", self.name)
            print("Course Price: INR", self.__course_price)
            print("Discount applied:", self.__discount, "%")
            print("Discounted Price: INR", self.__discounted_price)
        else:
            print("Course enrolled:", self.name)
            print("Course Price: INR", self.__course_price)


            
p1 = PwSkills(4000, "Blockchain")
print(p1.discount)
p1.course_details()
print(p1.course_price)

print("="*50)

p1.course_price = 50000
p1.discount = 50
print(p1.discount)
p1.course_details()

0.0
Course enrolled: Blockchain
Course Price: INR 4000
Course price is: INR 4000
==================================================
50
Course enrolled: Blockchain
Course Price: INR 25000.0
Discount applied: 50 %
Discounted Price: INR 4000

In [58]:
class PwSkills(object):  # Changed class name to follow PEP8 convention
    def __init__(self, price, name):
        self.__course_price = price
        self.__discount = 0.0
        self.name = name

    @property
    def course_price(self):
        # Removed the calculation of discounted price here and moved it to course_details method
        return self.__course_price

    @property
    def discount(self):
        return self.__discount

    @discount.setter
    def discount(self, new_discount):
        self.__discount = new_discount
        self.__course_price = self.__course_price - (self.__course_price * (self.__discount/100))

    @course_price.setter
    def course_price(self, new_price):
        self.__course_price = new_price

    def course_details(self):
        #discounted_price = self.__course_price - (self.__course_price * (self.__discount/100))
        # Calculate the discounted price here based on the current discount
        if self.__discount != 0.0:
            print("Course enrolled: ", self.name)
            print("Course Price: INR", self.__course_price)  # Removed the use of course_price property here
            print("Discount applied: ", self.__discount, "%")
            #print("Discounted Price: INR", discounted_price)
        else:
            print("Course enrolled: ", self.name)
            print("Course Price: INR", self.__course_price)


p1 = PwSkills(40000, "Blockchain")
print(p1.discount)
p1.course_details()
print(p1.course_price)

print("="*50)

p1.course_price = 50000
p1.discount = 50
print(p1.discount)
p1.course_details()

0.0
Course enrolled:  Blockchain
Course Price: INR 40000
40000
==================================================
50
Course enrolled:  Blockchain
Course Price: INR 25000.0
Discount applied:  50 %

In [68]:
print(p1.course_price)
print(p1.discount)

25000.0
50

In [69]:
ls

 Volume in drive D is Data
 Volume Serial Number is BA84-EFAD

 Directory of D:\Github\PWSkills-Data-Science-Masters

03/16/2023  03:54 PM    <DIR>          .
02/03/2023  06:33 PM    <DIR>          ..
03/11/2023  03:14 AM    <DIR>          .ipynb_checkpoints
02/03/2023  06:33 PM            35,823 LICENSE
03/11/2023  03:18 AM    <DIR>          PythonAssignments
02/03/2023  06:33 PM               133 README.md
03/16/2023  03:54 PM            18,407 Untitled.ipynb
               3 File(s)         54,363 bytes
               4 Dir(s)  851,025,661,952 bytes free