Consider following code to answer further questions:
```
import pandas as pd
course_name = ['Data Science’, 'Machine Learning’, 'Big Data’, 'Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name’ : course_name, 'duration’ : duration})
```

#### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [2]:
# second row of the dataframe

print(df.iloc[[2]])

df.iloc[2,:] # another way

  course_name  duration
2    Big Data         6

course_name    Big Data
duration              6
Name: 2, dtype: object

#### Q2. What is the difference between the functions `loc` and `iloc` in pandas.DataFrame?

`loc` helps in fetchign the records from the dataframe based on the label name (of row and column)

`iloc` helps in fetching the records from the dataframe based on the index

Some exmaple code is given below:

In [3]:
test = pd.DataFrame([[1, 2], [4, 5], [7, 8], [11, 22], [33, 44]],
index=['r1', 'r2', 'r3', 'r4', 'r5'],
columns=['num1', 'num2'])

test

    num1  num2
r1     1     2
r2     4     5
r3     7     8
r4    11    22
r5    33    44

In [4]:
test.loc[['r1', 'r2']]

    num1  num2
r1     1     2
r2     4     5

In [5]:
test.loc['r1', 'num2']  # row label-'r1', along woth column label-'num2'

2

In [6]:
test.loc['r2':'r5', 'num2']

r2     5
r3     8
r4    22
r5    44
Name: num2, dtype: int64

In [7]:
test.iloc[[3]]  # getting a particual row based on its index number

    num1  num2
r4    11    22

In [8]:
test.iloc[[0,4],[1]] # fetchng 2 rows and 1 column

    num2
r1     2
r5    44

In [9]:
# slicing 3 rows and all columns

test.iloc[:3,:]

    num1  num2
r1     1     2
r2     4     5
r3     7     8

In [10]:
# slicing from 3rd row to last row and all columns

test.iloc[2:,:]

    num1  num2
r3     7     8
r4    11    22
r5    33    44

#### Q3. Reindex the given dataframe using a variable, `reindex = [3,0,1,2]` and store it in the variable, `new_df` then find the output for both `new_df.loc[2]` and `new_df.iloc[2]`.

#### Did you observe any difference in both the outputs? If so then explain it.

In [11]:
df.head()

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [12]:
new_df = df.reindex(index = [3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [13]:
new_df.loc[[2]]

  course_name  duration
2    Big Data         6

In [14]:
new_df.iloc[[2]]

        course_name  duration
1  Machine Learning         3

when the code `new_df.loc[[2]]` is run, python will search for the record that has the row named with the label `"2"` and fetch that record.

On the other had when the code `new_df.iloc[[2]]` is run, python search the record which is at **index** number `2` and fetch that record. *the indexing is 0 based*

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#### (i) mean of each and every column present in the dataframe.
#### (ii) standard deviation of column, ‘column_2’

#### Consider the below code to answer further questions:
```
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
# Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
```

In [50]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
# Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.219188  0.101595  0.980458  0.590321  0.942155  0.147615
2  0.730062  0.911677  0.659426  0.630648  0.630298  0.748467
3  0.605301  0.306339  0.644240  0.635275  0.293951  0.927341
4  0.672035  0.158938  0.729174  0.761185  0.989797  0.319334
5  0.130436  0.923423  0.431955  0.697132  0.400218  0.181663
6  0.762442  0.806527  0.087485  0.315828  0.142552  0.134252

#### (i) mean of each and every column present in the dataframe.

In [51]:
df1.describe().loc[['mean']]

      column_1  column_2  column_3  column_4  column_5  column_6
mean  0.519911   0.53475   0.58879  0.605065  0.566495  0.409779

#### (ii) standard deviation of column, ‘column_2’

In [52]:
df1.describe().loc[['std'], ['column_2']]

     column_2
std   0.38679

In [53]:
df1.describe().iloc[[2],[1]]

     column_2
std   0.38679

In [54]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 1 to 6
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   column_1  6 non-null      float64
 1   column_2  6 non-null      float64
 2   column_3  6 non-null      float64
 3   column_4  6 non-null      float64
 4   column_5  6 non-null      float64
 5   column_6  6 non-null      float64
dtypes: float64(6)
memory usage: 336.0 bytes

#### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
#### If you are getting errors in executing it then explain why.
[Hint: To replace the data use `df1.loc[]` and equate this to string data of your choice.]

In [55]:
df1.loc[[2], ['column_2']] = "HelloWorld"
# another way to do the above is using .iloc ==> df1.iloc[[1], [1]] = "LaLaLa"
df1

   column_1    column_2  column_3  column_4  column_5  column_6
1  0.219188    0.101595  0.980458  0.590321  0.942155  0.147615
2  0.730062  HelloWorld  0.659426  0.630648  0.630298  0.748467
3  0.605301    0.306339  0.644240  0.635275  0.293951  0.927341
4  0.672035    0.158938  0.729174  0.761185  0.989797  0.319334
5  0.130436    0.923423  0.431955  0.697132  0.400218  0.181663
6  0.762442    0.806527  0.087485  0.315828  0.142552  0.134252

In [56]:
df1.describe()

       column_1  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.519911  0.588790  0.605065  0.566495  0.409779
std    0.274059  0.302351  0.153813  0.348147  0.342766
min    0.130436  0.087485  0.315828  0.142552  0.134252
25%    0.315716  0.485026  0.600403  0.320518  0.156127
50%    0.638668  0.651833  0.632962  0.515258  0.250499
75%    0.715555  0.711737  0.681668  0.864191  0.641184
max    0.762442  0.980458  0.761185  0.989797  0.927341

In [58]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 1 to 6
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   column_1  6 non-null      float64
 1   column_2  6 non-null      object
 2   column_3  6 non-null      float64
 3   column_4  6 non-null      float64
 4   column_5  6 non-null      float64
 5   column_6  6 non-null      float64
dtypes: float64(5), object(1)
memory usage: 508.0+ bytes

In [59]:
df1.describe().loc[['std'], ['column_2']]

KeyError: "None of [Index(['column_2'], dtype='object')] are in the [columns]"

#### ANSWER:
Once the 2nd row of the column- `column_2` is replaced with a string type object then the datatype of the `column_2` gets changed from `float64` to `Object` and any predictor which has string/object data type cannot have a Standard Deviation since, its a numerical statistical value. As a result of whihc after `Float64` to `Object` conversion, when `df1.info()` is run, the `column_2` is ommited from the result!

#### Q6. What do you understand about the windows function in pandas and list the types of windows functions?